{% extends "base.html" %}
{% block title %}{{ tema.nazov }}{% endblock %}
{% block content %}
<h1 class="mb-3">Názov: {{ tema.nazov }}</h1>
<div class="container">
    <div class="bg-info text-black p-3">
        <p><strong>Odbor: </strong>{{ tema.odbor }}</p>
        <p><strong>Popis: </strong>{{ tema.popis }}</p>
        <p><strong>Konzultant: </strong><a href="{% url 'vypis-ucitela' id=tema.konzultant.id %}" class="link-dark link-offset-2 link-underline-opacity-100 link-underline-opacity-25-hover">{{ tema.konzultant }}</a></p>
        {% if tema.student %}
        <p><strong>Študent: </strong><a href="{% url 'vypis-studenta' id=tema.student.id %}" class="link-dark link-offset-2 link-underline-opacity-100 link-underline-opacity-25-hover">{{ tema.student }}</a></p>
        {% else %}
        <p><strong>Študent: </strong>-</p>
        {% endif %}
        <p><strong>Dostupnosť: </strong>{{ tema.dostupnost }}</p>
        <p><strong>Počet kontrol: </strong>{{ tema.pocet_kontrol }}</p>
    </div>
</div>
{% endblock %}